*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #FAFAFA;
    overflow-y: scroll !important;
    color: rgba(var(--i1d,38,38,38),1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}
button:focus{
    outline: none;
}
.container {
    width: 100%;
    padding: 75px 15px 62px 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.FilterBar-wrapper{
    display: block;
}

.SideFilterBar-wrapper{
display: none;
}

.ant-drawer,
.ant-modal-mask,
.ant-image-preview-mask {
    z-index: 1050;
}

.ant-modal-wrap,
.ant-image-preview-wrap {
    z-index: 1060;
}

.ant-drawer-close {
    height: 100%;
}
.ant-drawer-close,
.ant-modal-close-x {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ant-modal-close-x {
    width: 55px;
    height: 55px;
    font-size: 16px;
}

.anticon{
    vertical-align: 0.125em;
}
.ant-tag{
    background: transparent;
    font-weight: 400;
}

ol,
ul {
    list-style: none;
}

.pagination{
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector::after,
.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item{
    line-height: 38px;
    color: #262626;
    font-weight: 400;
}
.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-placeholder {
    line-height: 38px;
    color: #999;
    font-weight: 400;
}

.target-link{
    text-decoration: underline;
    color: #006deb;
}

.my-16 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
hr {
    border-top-width: 1px;
    display: block;
    unicode-bidi: isolate;
    margin: 0;
}
.styled-hr {
    border-top-width: 1px;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

/* Social Icons */
i.fa-twitter {
    color: #38a1f3;
}
i.fa-facebook {
    color: #3b5998;
}
i.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    margin-right: 2px;
}
/* Social Icons */



/* Landing css */

.main {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-text {
    margin-left: 3rem;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
}

.main img {
    width: 600px;
}

.main span {
    border-left: 10px solid #3F51B5;
    padding-left: 15px;
}

.main blockquote {
    font-size: 35px;
    line-height: 1.1;
}

.landing-btn {
    width: 152.3px;
}

@media only screen and (max-width: 1000px) {
    .main img {
        width: 400px;
    }

    .main-text {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 35px;
        font-weight: bold;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 820px) {
    .main {
        margin-top: 60px;
        display: block;
    }

    .main img {
        display: none;
    }

    .main-text {
        margin-left: 2rem;
        margin-right: 1rem;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;
    }
}

/* Landing css */

/* How It works css */
.howitworks {
    text-align: center;
    justify-content: center;
}

.accordinCard {
    margin: 0 auto;
    width: 25rem;
}

.howitworks__heading {
    color: #e04d4d;
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: bold;
}

/* .how-it-works img {
    justify-content: start;
    width: 600px;
} */

@media only screen and (max-width: 820px) {
    .accordinCard {
        margin: 0 auto;
        width: 20rem;
    }
}

@media only screen and (max-width: 600px) {
    .accordinCard {
        margin: 0 auto;
        width: 15rem;
    }
}

/* How It works css */

/* Contact us css */

.contact {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contact__card--form {
    margin: 1rem 2rem 0 2rem;
}

.contact__card--form label {
    font-weight: 600;
}

.contact__card--form button {
    background: #3F51B5;
    color: #fff;
    font-weight: 600;
}

.contact__card--form button:focus {
    box-shadow: none;
}

.required {
    color: #fa1529;
}

.ContactUs__FormError {
    border-color: #fa1529;
    color: #fa1529;
    background: #fffafa;
}

.all-fields-required {
    font-size: .75rem;
    font-weight: 500;
    line-height: 1;
    color: #68d1f1;
}

.contactUS {
    margin: "auto";
    padding-top: 40px;
}

.contactUS__row {
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;

}

.contactUS__svg {
    padding: 0;
    display: inline-block;
    text-align: center;
}

.contactUS__info--title {
    color: #3F51B5;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.contactUS__info--Icons {
    padding-top: 1rem;
}

.contactUS__info--Icons--1 {
    display: flex;
    color: #3F51B5;
    transition: background-size cubic-bezier(0, .5, 0, 1) 0.3s;
}

.contactUS__info--Icons--2 {
    display: flex;
    color: #3F51B5;
}

.contactUS__info--link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size cubic-bezier(0, .5, 0, 1) 0.3s;
}

.contactUS__info--link:hover,
.contactUS__info--link:focus {
    text-decoration: none;
    background-size: 100% 2px;
}

@media only screen and (max-width: 522px) {

    .contactUS__info--Icons {
        display: flex;
        align-items: center;
    }

    .contactUS__info--Icons--1 {
        margin: 0 0.5rem 0 0.5rem;
    }

    .contactUS__info--Icons--2 {
        margin: 0 0.5rem 0 0.5rem;
    }
}

@media only screen and (max-width: 425px) {

    .contactUS__row {
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;

    }
}

@media only screen and (max-width: 425px) {

    .contactUS__row {
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;

    }
}

@media only screen and (max-width: 320px) {

    .contactUS__row {
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .contactUS__svg {
        max-width: 250;
        max-height: 250;
    }
}
/* Contact us css */

/* Footer css */

@media only screen and (max-width: 767px) {

    .FilterBar-wrapper{
        display: none;
    }

    .SideFilterBar-wrapper{
        display: block;
    }

    .resCol {
        flex: 2;
        text-align: center;
        width: 100px;
    }
}
/* Footer css */

/*FAQ CSS*/
.faqs {
    margin: "auto";
    padding-top: 40px;
}

.faqs__row {
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;

}

.faqs__svg {
    text-align: center;
}

.faqs__info--title {
    color: #3F51B5;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}


.card-title {
    color: #3F51B5
}

.faqs__info--ContactUsLink {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size cubic-bezier(0, .5, 0, 1) 0.3s;
}

.faqs__info--ContactUsLink:hover,
.faqs__info--ContactUsLink:focus {
    text-decoration: none;
    background-size: 100% 2px;
}

@media only screen and (max-width: 425px) {

    .faqs__row {
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;

    }
}

@media only screen and (max-width: 320px) {

    .faqs__row {
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .faqs__svg {
        max-width: 250;
        max-height: 250;
    }
}

/*FAQ CSS*/

/* Error Page CSS */
.PageNotFound {
    font-family: 'Lato', sans-serif;
    color: #888;
    transition: all 0.6s;
    margin: 0;
    display: table;
    width: 100%;
    height: 80vh;
    text-align: center;
}

.PageNotFound__Error {
    display: table-cell;
    vertical-align: middle;
}

.PageNotFound__Error h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #888;
    }

    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}

/* Error Page CSS */

@media (max-width: 600px) {
    .container {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .container {
        padding-top: 54px;
    }
}