*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #FAFAFA;
    overflow-y: scroll;
    color: rgba(var(--i1d,38,38,38),1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.container {
    width: 100%;
    padding: 54px 15px 60px 15px;
    margin-right: auto;
    margin-left: auto;
}

ol,
ul {
    list-style: none;
}

.my-16 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
hr {
    border-top-width: 1px;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.SlideIn-appear {
    transform: translateX(30px);
    opacity: 0;
}

.SlideIn-appear.SlideIn-appear-active {
    opacity: 1;
    transform: translateX(0);
    ;
    transition: all 0.6s linear;
}

.SlideIn-enter {
    opacity: 0;
    transform: translateX(30px);
}

.SlideIn-enter.SlideIn-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s linear 0.4s;
}

.SlideIn-leave {
    opacity: 1.0;
    transform: translateX(0);
}

.SlideIn-leave.SlideIn-leave-active {
    opacity: 0;
    position: absolute;
    width: 100%;
    transform: translateX(-30px);
    transition: all 0.2s linear;
}

/* Landing css */

.main {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-text {
    margin-left: 3rem;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
}

.main img {
    width: 600px;
}

.main span {
    border-left: 10px solid #3F51B5;
    padding-left: 15px;
}

.main blockquote {
    font-size: 35px;
    line-height: 1.1;
}

.landing-btn {
    width: 152.3px;
}

@media only screen and (max-width: 1000px) {
    .main img {
        width: 400px;
    }

    .main-text {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 35px;
        font-weight: bold;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 820px) {
    .main {
        margin-top: 60px;
        display: block;
    }

    .main img {
        display: none;
    }

    .main-text {
        margin-left: 2rem;
        margin-right: 1rem;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;
    }
}

/* Landing css */

/* How It works css */
.howitworks {
    text-align: center;
    justify-content: center;
}

.accordinCard {
    margin: 0 auto;
    width: 25rem;
}

.howitworks__heading {
    color: #e04d4d;
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: bold;
}

/* .how-it-works img {
    justify-content: start;
    width: 600px;
} */

@media only screen and (max-width: 820px) {
    .accordinCard {
        margin: 0 auto;
        width: 20rem;
    }
}

@media only screen and (max-width: 600px) {
    .accordinCard {
        margin: 0 auto;
        width: 15rem;
    }
}

/* How It works css */

/* Contact us css */

.contact {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contact__card--form {
    margin: 1rem 2rem 0 2rem;
}

.contact__card--form label {
    font-weight: 600;
}

.contact__card--form button {
    background: #3F51B5;
    color: #fff;
    font-weight: 600;
}

.contact__card--form button:focus {
    box-shadow: none;
}

.required {
    color: #fa1529;
}

.ContactUs__FormError {
    border-color: #fa1529;
    color: #fa1529;
    background: #fffafa;
}

.contact__form__required {
    font-size: .75rem;
    line-height: 1;
    color: #3F51B5;
}

.contactUS {
    margin: "auto";
    padding-top: 40px;
}

.contactUS__row {
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;

}

.contactUS__svg {
    padding: 0;
    display: inline-block;
    text-align: center;
}

.contactUS__info--title {
    color: #3F51B5;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.contactUS__info--Icons {
    padding-top: 1rem;
}

.contactUS__info--Icons--1 {
    display: flex;
    color: #3F51B5;
    transition: background-size cubic-bezier(0, .5, 0, 1) 0.3s;
}

.contactUS__info--Icons--2 {
    display: flex;
    color: #3F51B5;
}

.contactUS__info--link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size cubic-bezier(0, .5, 0, 1) 0.3s;
}

.contactUS__info--link:hover,
.contactUS__info--link:focus {
    text-decoration: none;
    background-size: 100% 2px;
}

@media only screen and (max-width: 522px) {

    .contactUS__info--Icons {
        display: flex;
        align-items: center;
    }

    .contactUS__info--Icons--1 {
        margin: 0 0.5rem 0 0.5rem;
    }

    .contactUS__info--Icons--2 {
        margin: 0 0.5rem 0 0.5rem;
    }
}

@media only screen and (max-width: 425px) {

    .contactUS__row {
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;

    }
}

@media only screen and (max-width: 425px) {

    .contactUS__row {
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;

    }
}

@media only screen and (max-width: 320px) {

    .contactUS__row {
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .contactUS__svg {
        max-width: 250;
        max-height: 250;
    }
}
/* Contact us css */

/* Footer css */

@media only screen and (max-width: 767px) {

    .resCol {
        flex: 2;
        text-align: center;
        width: 100px;
    }
}
/* Footer css */

/*FAQ CSS*/
.faqs {
    margin: "auto";
    padding-top: 40px;
}

.faqs__row {
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;

}

.faqs__svg {
    text-align: center;
}

.faqs__info--title {
    color: #3F51B5;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}


.card-title {
    color: #3F51B5
}

.faqs__info--ContactUsLink {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size cubic-bezier(0, .5, 0, 1) 0.3s;
}

.faqs__info--ContactUsLink:hover,
.faqs__info--ContactUsLink:focus {
    text-decoration: none;
    background-size: 100% 2px;
}

@media only screen and (max-width: 425px) {

    .faqs__row {
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;

    }
}

@media only screen and (max-width: 320px) {

    .faqs__row {
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .faqs__svg {
        max-width: 250;
        max-height: 250;
    }
}

/*FAQ CSS*/

/* Error Page CSS */
.PageNotFound {
    font-family: 'Lato', sans-serif;
    color: #888;
    transition: all 0.6s;
    margin: 0;
    display: table;
    width: 100%;
    height: 80vh;
    text-align: center;
}

.PageNotFound__Error {
    display: table-cell;
    vertical-align: middle;
}

.PageNotFound__Error h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #888;
    }

    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}

/* Error Page CSS */