.leaflet-container {
    width: inherit;
    height: 400px;
    position: fixed;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}

@media only screen and (max-width: 1024px) {
    .leaflet-container {
        width: 100%;
        height: 350px;
        position: relative;
    }
}
@media only screen and (max-width: 1090px) {
    .leaflet-container {
        height: 300px;
    }
}
@media only screen and (max-width: 991px) {
    .leaflet-container {
        width: 100%;
        height: 350px;
        position: relative;
    }
}