.SliderConatiner{
    max-width: 700px;
    max-height: 400px;
    height: inherit;
}
.image {
    width: 100%;
    max-height: 400px;
    height: inherit;
    object-fit: scale-down;
    backdrop-filter: blur(15px);
}

/* React Slick Slider*/

.slick-slider{
    height: inherit;
    max-height: inherit;
}
.slick-list {
    height: 100%;
}

.slick-track{
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.slick-dots {
    position: absolute;
    bottom: 0;
}

.slick-prev, .slick-next {
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    opacity: .65;
    color: azure;
}

.slick-dots li button:before {
    color: lightsteelblue;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #1890ff;
}

.slick-slide div:nth-child(1) {
    height: 100%;
}

.slick-slide {
    backdrop-filter: contrast(80%);
}