
.navbar-dark {
    background-color: #000000;
}

.nav-menu {
    color: #fff;
}

.nav-toggler {
    margin: 0;
}
.navbar {
    border-bottom: 1px solid #BBBBBB;
}

.nav-linkz:hover {
    opacity: 1;
}

.nav-linkz::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
}

.nav-linkz-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-linkz-ltr:hover::before {
    width: 100%;
}


@media screen and (max-width: 767px) {

    .nav-menu {
        text-align: center;
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-link {
        text-align: center;
    }

    .nav-link:hover {
        background-color: #222222;
        color: #242424;
        border-radius: 0;
    }

    .navbar-logo {
        height: 60%;
        width: 60%;
    }

}