.ant-tabs-tab{
    margin: 0 0 0 32px !important;
}
.ant-tabs-tab:first-child {
    margin: 0 !important;
}

.ant-tabs-nav {
    height: 54px;
}
.ant-tabs-tab-btn{
    text-transform: uppercase;
    font-size: 13px
}
.ant-tabs-nav-operations{
    display: none !important;
}

.ant-tabs-top>.ant-tabs-nav::before {
    border-bottom: 0;
};

@media only screen and (max-width: 768px) {
    .ant-tabs-tab:first-child{
        margin: 0 !important;
    }
}
