.profile-header {
    padding-top: 30px;
    display: flex;
    align-items: center;
    /* Vertical */
    justify-content: center;
    /* Horizontal */
    padding-right: 20px;
    
}
 .profile-image {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
    width: 220px;
} 
.social-icons{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}
.profile-image-span img {
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.profile-image-span {
    background-color: #fafafa;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 150px;
}



.profile-user-info{
    display:grid
}


.profile-user-settings {
    margin: 0 0 20px;
    display: flex;
}

.profile-user-name {
    display: inline-block;
    font-size: 28px;
    margin: 0;
}

.div-profile-edit-btn{
    margin: 0 0 0 20px;
    height: fit-content;
    display:inline-block;
}

.profile-edit-btn {   
    appearance: none;
    background: 0 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    width: auto;
    border-radius: 4px;
    position: relative;
    background-color: transparent;
    border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
    color: rgba(var(--f75, 38, 38, 38), 1);
    user-select: auto;
}

.div-profile-settings-btn {
    margin-left: 5px;
    height: fit-content;
    display:inline-block;
}

.profile-settings-btn {
        align-items: center;
        background: 0 0;
        border: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        font-size: 28px;
        margin: 0 0 0 4px;
}
.ig-ul{
    margin-bottom: 20px;
    display: inline-flex;
}

.ig-li{
display: list-item;
text-align: -webkit-match-parent;
font-size: 16px;
margin-right: 40px;
}

.ig-li:last-child {
    margin-right: 0;
}

.ig-li-span{
    color: inherit;
    text-align: center;
}

.profile-stat-count {
    font-weight: 600;
}

.profile-bio {
    display: grid;
    line-height: 24px;
    font-size: 16px;
}


.profile-user-fullname{
    display: inline;
    font-size: 16px;
    font-weight: 600;
}

.bio-website{
    display: inline-block;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}